---
import Layout from '../layouts/Layout.astro'
---

<Layout>
	<h1>This is my first Astro site in <i>StackBlitz!</i></h1>
	<p>Let start with this: Test updating new code into my Github.</p>
	<p>I can put my code into Github NOW!!!</p>
</Layout>
